USE [master]
GO
/****** Object:  Database [Globomantics]    Script Date: 5/4/2020 11:38:05 AM ******/
CREATE DATABASE [Globomantics2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Globomantics2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Globomantics2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Globomantics2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Globomantics2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Globomantics2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Globomantics2]
GO
USE [Globomantics2]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 5/4/2020 11:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/4/2020 11:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [varchar](8) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesActivities]    Script Date: 5/4/2020 11:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesActivities](
	[EmployeeID] [varchar](8) NOT NULL,
	[ActivityId] [int] NOT NULL,
	[CompletedOn] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Activities] ([Id], [Title], [Description], [Points]) VALUES (1, N'Daily Steps', N'...', 10)
INSERT [dbo].[Activities] ([Id], [Title], [Description], [Points]) VALUES (2, N'Daily Meditation', N'...', 5)
INSERT [dbo].[Activities] ([Id], [Title], [Description], [Points]) VALUES (3, N'Biometric Screening', N'...', 50)
ALTER TABLE [dbo].[EmployeesActivities]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesActivities_Activities] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activities] ([Id])
GO
ALTER TABLE [dbo].[EmployeesActivities] CHECK CONSTRAINT [FK_EmployeesActivities_Activities]
GO
ALTER TABLE [dbo].[EmployeesActivities]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesActivities_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeesActivities] CHECK CONSTRAINT [FK_EmployeesActivities_Employees]
GO
USE [master]
GO
